<button class="border py-2 my-2 px-4 rounded bg-blue-400 text-white" (click)="nextmonth()">ماه بعد</button>
<button class="border py-2 my-2 px-4 rounded bg-blue-400 text-white" (click)="prevmonth()">ماه قبل</button>
<div>
  <h2 class="text-2xl">تاریخ : </h2>
  <p>{{month}} : ماه</p>
  <p>{{year}} : سال</p>

</div>
<table>
  <tr>
    <th>شنبه</th>
    <th>یکشنبه</th>
    <th>دوشنبه</th>
    <th>سه سنبه</th>
    <th>چهارشنبه</th>
    <th>پنج شنبه</th>
    <th>جمعه</th>
  </tr>

  <tr *ngFor="let week of calendar; let i = index">
    <ng-container *ngIf="week.length < 7; else fullWeek">
      <ng-container *ngIf="i == 0; else LastWeek">
        <ng-container *ngFor="let _ of getEmptyCells(7 - week.length)">
          <td></td>
        </ng-container>
        <ng-container *ngFor="let day of week">
          <td [ngClass]="{ 'text-red-600': day.jDay() === 6 }">
            {{ day.format("jD") }}
          </td>
        </ng-container>
      </ng-container>
      <ng-template #LastWeek>
        <ng-container *ngFor="let day of week">
          <td [ngClass]="{ 'text-red-600': day.jDay() === 6 }">
            {{ day.format("jD") }}
          </td>
        </ng-container>
        <ng-container *ngFor="let _ of getEmptyCells(7 - week.length)">
          <td></td>
        </ng-container>
      </ng-template>
    </ng-container>

    <ng-template #fullWeek>
      <ng-container *ngFor="let day of week">
        <td [ngClass]="{ 'text-red-600': day.jDay() === 6 }">
          {{ day.format("jD") }}
        </td>
      </ng-container>
    </ng-template>
  </tr>
</table>
