<!-- {{projectsList[0]| json}} -->

<div>
  <p class="text-3xl p-4">{{ monthName }} {{ year }}</p>
</div>
<div class="max-w-2xl">
  <button
    class="border py-2 my-4 px-4 rounded rounded-r-full bg-cyan-700 text-white hover:bg-cyan-800"
    (click)="prevmonth()"
  >
    ماه قبل
  </button>
  <button
    class="border py-2 my-4 px-4 rounded bg-fuchsia-700 text-white hover:bg-fuchsia-800"
    (click)="today()"
  >
    این ماه
  </button>
  <button
    class="border py-2 my-4 px-4 rounded rounded-l-full bg-cyan-700 text-white hover:bg-cyan-800"
    (click)="nextmonth()"
  >
    ماه بعد
  </button>
</div>
<div class="flex justify-between">
  <div class="max-w-xl">
    <table>
      <tr>
        <th>شنبه</th>
        <th>یکشنبه</th>
        <th>دوشنبه</th>
        <th>سه شنبه</th>
        <th>چهارشنبه</th>
        <th>پنج شنبه</th>
        <th>جمعه</th>
      </tr>
      <tr *ngFor="let week of calendar; let i = index">
        <ng-container *ngFor="let day of week">
          <td (click)="toggleModal(day.events)">
            <span
              [ngClass]="{ hidden: day.events.length == 0 }"
              class="inline-flex items-center rounded-full bg-red-800 px-2 py-1 text-xs font-bold text-white ring-1 ring-inset"
              >{{ day.events.length }}</span
            >
            {{ day.dayString }}
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
  <div class="m-auto max-w-xl">
    {{ modalFeed | json }}
  </div>
</div>
