<div>
  <div class="mx-2 p-2">
    <h1 class="m-2 p-2 text-2xl font-bold">صفحه اصلی</h1>
    <p class="m-2 p-2">این برنامه برای تعریف و کنترل پروژه ها و همچنین تعریف و کنترل اقدامات مربوط به پروژه ها ساخته شده است.</p>
    <p class="m-2 p-2 text-amber-600">از سرویس فیک برای این اپ استفاده شده است.</p>
    <p class="m-2 p-2 text-green-700">
      از پایپ تاریخ فارسی برای برگردان فارسی تاریخ در بعضی قسمت ها استفاده شده است.
    </p>
    <p class="m-2 p-2">
      ماژول های پروژه ها و تسک ها به صورت Lazy louding  آدرس دهی شده اند.
    </p>
    <p class="m-2 p-2 text-red-700">این برنامه هنوز کامل نشده و کم کم در حال تکمیل است.</p>
  </div>
  <div>
    <div class="mx-2 p-2">
      <h2 class="m-2 p-2 text-xl font-bold">راهنما:</h2>
      <div class="flex m-2 p-2 max-sm:flex-col max-sm:border rounded">
        <button
          class="mx-1 p-2 text-red-700 border border-red-700 rounded-md hover:bg-red-700 hover:text-white"
        >
          حذف
        </button>
        <p class="p-2 max-w-[40rem]">
          برای هر آیتم پروژه و تسک امکان حذف وجود دارد، با این تفاوت که با حذف
          پروژه تسک های مربوطه نیز حذف می شوند ولی با حذف تسک، پروژه آن هنوز وجود
          دارد.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="mx-2 p-2">
        <button
        class="mx-4 p-2 text-cyan-700 border border-cyan-700 rounded-md hover:bg-cyan-700 hover:text-white"
        [routerLink]="['/projects']"
        routerLinkActive="router-link-active"
        >
        لیست پروژه ها
         </button>
        <button
            class="mx-4 p-2 text-cyan-700 border border-cyan-700 rounded-md hover:bg-cyan-700 hover:text-white"
            [routerLink]="['/tasks']"
            routerLinkActive="router-link-active"
        >
            لیست تسک ها
        </button>
    </div> -->
</div>
