<div class="block w-full overflow-x-auto">
    <table class="items-center bg-transparent w-full border-collapse ">
      <thead>
        <tr>
          <th *ngFor="let key of getColumnKeys()" class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-right">
            {{ key }}
                      </th>

      </thead>

      <tbody>
        <tr *ngFor="let item of incomeList">
          <!-- <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left text-blueGray-700 ">
            /argon/
          </th> -->
          <td *ngFor="let key of getColumnKeys()" class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 ">
            {{ item[key] }}
          </td>

        </tr>

      </tbody>

    </table>
  </div>