<p class="m-2 p-2 text-4xl">شناسه : {{selectedProject[0].id}}</p>
<div class="flex flex-col md:flex-row ">
  <div class="m-2 p-2">
    <p class="m-2 p-2 text-xl text-cyan-800">عنوان : {{selectedProject[0].title}}</p>
    <p class="m-2 p-2 text-xl text-green-700">تاریخ شروع : {{selectedProject[0].initDate | date}}</p>
    <p class="m-2 p-2 text-xl text-green-700">تاریخ خاتمه : {{selectedProject[0].finishDate | date}}</p>
    <p class="m-2 p-2 text-xl text-red-600">وضعیت : {{selectedProject[0].finish ? 'به اتمام رسیده': 'هنوز در جریان است'}}</p>
  </div>
  <hr/>

  <ng-container *ngIf="selectedProject[1].length > 0 ; else elseTemplate">
    <div class="m-2 p-2" *ngFor="let item of selectedProject[1]">
        <p class="m-2 p-2 text-xl">اقدام کننده : {{item.actor}}</p>
        <p class="m-2 p-2 text-xl">توضیحات اقدام کننده : {{item.describtion}}</p>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="m-2 p-2" >
        <p class="m-2 p-2 text-xl">هنوز اقدامی برای این پروژه ثبت نشده</p>
        <button
        class="m-2 p-2 text-cyan-700 border border-cyan-700 rounded-md"
        [routerLink]="['new-task/:id']"
        routerLinkActive="router-link-active"
      >
        ثبت اقدام جدید
      </button>
    </div>
  </ng-template>
  
  


</div>
<button
class="m-8 p-2 text-cyan-700 border border-cyan-700 rounded-md"
[routerLink]="['/projects']"
routerLinkActive="router-link-active"
>
بازگشت به لیست پروژه ها
</button>
<button
class="m-8 p-2 text-cyan-700 border border-cyan-700 rounded-md"
[routerLink]="['/tasks']"
routerLinkActive="router-link-active"
>
بازگشت به لیست تسک ها
</button>